HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
tmp/
uploads/
downloads/
**/tmp/

### IntelliJ IDEA ###
.DS_Store
**/.DS_Store
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/resources/static/**
!**/src/main/resources/templates/**
/Users/joohyuk/Documents/JAVAWORKSPACE/TIL_PRACTICE_CODE/lecture-practice-code/spring-security-oauth2/src/main/resources/**

### VS Code ###
.vscode/

### QueryDSL ###
**/generated